.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #28eff5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  border-radius: 15px;
  padding: 5px;
}

a {
  margin-top: 15px;
  color: #28eff5;
}

button {
  width: min-content;
  height: min-content;
  color: #28eff5;
  background-color: #353535;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

.data {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.view {
  margin-top: 0;
}

.hotbar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0 11px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #515151;
  border: 1px solid #242424;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border-radius: 20px;
}

.dropdown-content button {
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  width: auto;

}

.dropdown-content button:hover {
  background-color: #333333;
}